* {
    margin: 0;
}

body {
    background-image: url('../images/bg.svg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;}

.margin {
    background-color: #282828;
    align-items: center;
    display: flex;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.footer {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    height: 80px;
    width: 100%;
    padding: 20px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    left: 100px;
}

.japanese_flag {
    height: 25px;
}

.header_links {
    display: flex;
    position: absolute;
    right: 100px;
    gap: 50px;
}

.page_link,
.text_japan, h3 {
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main_content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.festivals_cover {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 100px;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    margin: 20px 20px;
}

.season_title {
    margin-top: 50px;
}

/* Cards formatting */
.destinations_cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.festival_name {
    color: #BE0029;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_festival {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 20px;
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 5px #282828;
}

.festival_link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.container_festival:hover {
    box-shadow: 0 0 10px #282828;
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    border-radius: 30px;
}

.festival_image {
    border-radius: 30px;
}

.festival_description {
    text-align: justify;
}